#div1 {
  text-align: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

#div2 {
  background-color: rgb(255, 251, 251);
  position: relative;
  top: 10px;
  left: 5%;
  width: 90%;
  /* height: 200px; */
}

#div3 {
  background-color: rgb(224, 224, 224);
  position: relative;
  left: 25%;
  width: 50%;
}

#div4 {
  background-color: rgb(224, 224, 224);
}
